@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

h2::selection,
p::selection {
    background-color: #4c47b0;
    color: #fff;
}

.App {
    background-color: #1a202c;
    color: #fcfcfc;
}



/* global class */
.themeText {
    color: #6c63ff;
}


/* Cursor */
.cursor {
    z-index: 100;
    position: absolute;
    height: 20px;
    width: 20px;
    border: 3px solid #16a05d;
    border-radius: 50%;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    pointer-events: none;
    cursor: no-drop;
    animation: 1.5s cubic-bezier(0.5, 0, 0.5, 1) 0s normal none infinite running fa-heart;
}

.cursor::after {
    position: absolute;
    height: 5px;
    width: 5px;
    content: "";
    top: 50%;
    left: 50%;
    border: 2px solid #ee3e38;
    box-shadow: 0 0 25px 4px #ffffff;
    border-radius: 50%;
    animation: 1.5s cubic-bezier(0.5, 0, 0.5, 1) 0s normal none infinite running fa-heart-in;
}


/* Navbar */

.navbar {
    /* border: 1px solid red; */
    padding: 10px;
    background-color: #111a2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

.logo {
    display: flex;
    gap: 5px;
    width: fit-content;
}

/* logo-image box */
.logo>div:first-child {
    /* border: 1px solid green; */
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>div:first-child>img {
    width: 100%;
}

/* logo-text */
.name {
    pointer-events: none;
    width: 155px;
    left: 0;
    top: 0;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.name>h2 {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.name h2:nth-child(1) {
    background: linear-gradient(to left, #480da1, #ec633d);
    -webkit-text-stroke: 2px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name h2:nth-child(2) {
    color: #3f7cdd;
    animation: waterWave 4s ease-in-out infinite;
}


/* navbar options */
.nav-options {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-options {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
}

.nav-options>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-options>div>button {
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 4px;
    background-color: #141431;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.nav-options>div>button:hover {
    background-color: #222b69;
}


.nav-options>div>button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    letter-spacing: 0.5px;
}

.nav-options>div>button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.nav-options>div>button:hover span {
    padding-right: 20px;
}

.nav-options>div>button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Nav-Hambarger icon */

.navbar>button:last-child {
    background-color: transparent;
}

.navbar>button:last-child>svg {
    color: #FFFFFF;
    font-size: 20px;
}


/* Drawer-section */
.navbar>button:last-child+div {
    top: 65px !important;
}

.drawer {
    background-color: #0d012c !important;
    color: #fcfcfc !important;
    padding-bottom: 20px;
}

.drawer>button:first-child {
    top: 10px !important;
    color: white;
    font-size: 12px;
}

.drawer>header:nth-child(2) {
    padding: 10px !important;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.drawer>div:nth-child(3)>div {
    margin: 8px 0px;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}



/* Home-page */
#home {
    position: relative;
    height: 95vh;
    width: 100%;
    background: url('https://jameswaweru.vercel.app/static/media/background.78f65f0d57d328c7311a.png');
    color: white;
}

#home * {
    transition: all 400ms ease-in-out;
}

#home::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#1a202cb4, rgba(0, 0, 0, 0.868));
}

#home>div:first-child>div {
    z-index: 1;
    color: #b4b4b4
}

#home>div:first-child>div:nth-child(1) {
    width: 40vw;
}


/* text-glitch animation */
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content .text {
    white-space: nowrap;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transform: scale(1.15);
    letter-spacing: 2px;
    padding: 30px;
    pointer-events: none;
}

.content .text::before,
.content .text::after {
    position: absolute;
    content: attr(data-text);
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    background: transparent;
    color: #fff;
    overflow: hidden;
    pointer-events: none;
}

.content .text::before {
    left: -3px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s 0s linear reverse infinite;
}

.content .text::after {
    left: 3px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s 0s linear reverse infinite;
}

/* Description text */
.content+p {
    font-size: 19px;
    letter-spacing: 2px;
}


/* Hire me button */
.hireMe>a {
    margin: 30px 0px;
}

.hireMe>a>button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 22px;
    font-size: 20px;
    border: 2px solid #6c63ff;
    color: #6c63ff;
    background-color: transparent;
    transition: 400ms;
}

.hireMe>a>button:hover {
    border: 1px solid transparent;
    background-color: #6c63ff;
    color: #fff;
}



#home>div:first-child>div:nth-child(2) {
    width: 38vw;
}



/* About me */
#aboutMe {
    height: 100vh;
    background-color: #1a202c;
    padding: 0px 20px;
    overflow: hidden;
}

#aboutMe * {
    transition: all 400ms ease-in-out;
}

/* About me heading */
#aboutMe>h2:nth-child(1) {
    text-align: center;
    margin: 50px 0px -50px;
    letter-spacing: 1px;
}

/* svg */
#aboutMe>div:nth-child(2)>div:nth-child(1) {
    width: 50%;
}

#aboutMe>div:nth-child(2)>div:nth-child(2) {
    height: 100%;
    width: 40%;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}



/* my image and desc part */
#aboutMe>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>svg {
    display: none;
}

#aboutMe>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>p {
    text-align: justify;
    letter-spacing: 1.5px;
}




/* Technical Skills */
#skills {
    margin-bottom: 50px;
}

#skills * {
    transition: all 200ms ease-in-out;
}

#skills>h2:nth-child(1) {
    text-align: center;
    margin: 50px 0px;
    letter-spacing: 1px;
}

/* Main skill box */
#skills>div:nth-child(2) {
    /* border: 2px solid yellow; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/* Skill parts */
#skills>div:nth-child(2)>div {
    /* border: 2px solid blueviolet; */
    display: flex;
}

/* image part */
#skills>div:nth-child(2)>div:nth-child(1) {
    min-width: 90%;
}

.skills {
    flex-direction: column;
    width: 90%;
    gap: 20px;
    margin: 80px auto;
}


.skills>div {
    flex-direction: column;
}


.skills>div>h2 {
    text-align: center;
    margin: 20px 0px;
    letter-spacing: 1px;
}

.skills>div>div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;
}

.skill {
    width: 90px;
    box-shadow: rgba(190, 215, 244, 0.4) 0px 0px 0px 2px, rgba(208, 227, 248, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.418) 0px 1px 0px inset;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.skill:hover {
    transform: translateY(-10px);
}

.skill>div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    border-radius: 8px 8px 0px 0px;
    background-color: #ffffff1e;
}

.skill>div>img {
    width: 65%;
}

.skill>p {
    font-size: 17px;
    white-space: nowrap;
}











/* Projects section */
#projects {
    margin-top: 50px;
    background-color: #1a202c;
}

#projects>h2:nth-child(1) {
    letter-spacing: 1px;
}

#projects>div:nth-child(2) {
    width: 80vw;
    margin: 50px auto;
}

/* Porject - card */
.ProjectCard {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 8px;
    width: 350px;
    height: 415px;
    background: #0000;
    overflow: hidden;
}

.ProjectCard>div:nth-child(2) {
    padding: 15px;
}

.ProjectCard>div:nth-child(3) {
    padding: 10px;
}

.cardImg {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 205px;
    background-size: cover;
    background-position: top;
    transition: ease-in-out 8s;
}

/* Slide the image on hover */
.ProjectCard:hover .cardImg {
    background-position: bottom;
}


.ProjectCard>div:nth-child(2)>div:nth-child(1) {
    justify-content: space-between;
    align-items: center;
}

/* project type tag */
.ProjectCard>div:nth-child(2)>div:nth-child(1)>span {
    height: fit-content;

}

/* title of the project */
.ProjectCard>div:nth-child(2)>div:nth-child(1)>h2 {
    font-size: 24px;
    letter-spacing: 1.5px;
}

/* tech stack of the project */
.ProjectCard>div:nth-child(2)>p:nth-child(2) {
    margin: 4px 0px;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(to left, #7112ff, #ec633d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* description part */
.ProjectCard>div:nth-child(2)>p:nth-child(3) {
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    color: #eee;
}

.ProjectCard>div:last-child>div {
    justify-content: space-between;
}

.ProjectCard>div:last-child>div a {
    text-decoration: none;
}

/* project card buttons */

.ProjectCard>div:last-child>div>a>button {
    background-color: #111a2f;
    color: #e6e6e6;
}

.ProjectCard>div:last-child>div>a>button>svg {
    margin-left: 5px;
}



/* Github stats */
#githubStats {
    background-color: #1a202c;
}

#githubStats * {
    transition: all 400ms ease-in-out;
}

#githubStats>h2:first-child {
    margin: 20px 0px;
    letter-spacing: 1px;
}

/* Github-stats images */
.github-stats {
    margin: 50px;
    gap: 20px;
}

.github-stats:nth-of-type(1)>img:first-child {
    width: 23%;
}

.github-stats:nth-of-type(1)>img:last-child {
    width: 44%;
}

.react-activity-calendar {
    background-color: #1a202c;
    color: #fff;
}





/* Contact-me */
#contactMe {
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a202c;
}

#contactMe * {
    transition: all 400ms ease-in-out;
}

#contactMe>h2 {
    margin: 20px auto;
    letter-spacing: 1px;
}

#contactMe>div:nth-child(2) {
    gap: 20%;
}

/* svg box */
#contactMe>div:nth-child(2)>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
}

/* ! form section */
.form-section {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #141431;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.form-section>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.inputBox {
    position: relative;
    width: 100%;
}

.inputBox>input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background-color: #141431;
    outline: none;
    color: #fff;
    font-size: 1em;
}

.inputBox>span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #49a09d;
    transform: translateX(10px) translateY(-10px);
    font-size: 0.65em;
    border-left: 1px solid #49a09d;
    border-right: 1px solid #49a09d;
    padding: 2px 5px;
    background-color: #141431;
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #49a09d;
}

.form-section>form>div:nth-child(3) {
    width: 100%;
}

.form-section>form>div:nth-child(3)>textarea {
    width: 100%;
    min-height: 100px;
    background-color: #141431;
    border: 1px solid #ffffff40;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    resize: none;
    scrollbar-width: none;
}

.form-section>form>input:nth-child(4) {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.25);
    ;
    padding: 5px 0px;
    margin-top: -20px;
    border-radius: 20px;
    cursor: pointer;
    transition: none !important;
}

.form-section>form>input:nth-child(4):active {
    transform: scale(0.95)
}

.form-section>form>input:nth-child(4):hover {
    background-color: #212151;
    color: #e0eff2;
    text-shadow: -2px 1px 0 #3a50d9, -4px 3px 0 #0a0e27;
}

.contact-info {
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: -15px 0px;
}

.social-icons {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    padding: 4px;
    border: 1px dashed #fcfcfc;
    animation: clockwiseSpin 5s linear infinite;
}

.social-icons:nth-child(3) img {
    width: 100%;
    height: 100%;
}

.social-icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fcfcfc;
    animation: antiClockWiseSpin 5s linear infinite;
}


/* Footer part */
#footer {
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 20px;
    background-color: #111a2f;
}

#footer>p:first-child {
    font-size: 16px;
    color: #eeeeee;
}





/*? ==========Breakpoints========== */

/* 1024px width laptop */
@media all and (max-width:1024px) {

    /* text-glitch */
    .content .text {
        font-size: 35px;
    }

    /* about-me >
     svg */

    #aboutMe>div:nth-child(2)>div:nth-child(1) {
        display: none;
    }

    #aboutMe>div:nth-child(2)>div:nth-child(2) {
        width: 90%;
    }

    #aboutMe>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>svg {
        display: block;
    }


    /* contect me */
    #contactMe>div:nth-child(2)>div:nth-child(1) {
        width: 600px;
    }

    .form-section {
        width: 350px;
    }

    #contactMe>div:nth-child(2) {
        gap: 5%;
    }
}


/* Tablet part */
@media all and (max-width:768px) {

    /* Navbar */
    .nav-options>div>button span {
        font-size: 12px;
    }

    .logo>div:first-child {
        width: 25px;
    }

    .name {
        width: 80px;
    }

    .name>h2 {
        font-size: 20px;
    }

    .content .text {
        font-size: 25px;
    }

    /* github stats */
    .github-stats img {
        width: 95% !important;
    }


    /* about me */
    #aboutMe>div:nth-child(2)>div:nth-child(1) {
        display: none;
    }

    #aboutMe>div:nth-child(2)>div:nth-child(2) {
        width: 90%;
    }

    /* Profile pic */
    #aboutMe>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>img {
        height: 200px;
        width: 200px;
    }


    /* projects */
    #projects>div:nth-child(2) {
        gap: 15px;
    }


    /* github-stats */
    .github-stats {
        flex-direction: column;
    }

    .react-activity-calendar {
        width: 90%;
    }


    #contactMe>div:nth-child(2)>div:nth-child(1) {
        width: 90%;
    }

}

/* Mobile part */
@media all and (max-width: 425px) {

    #home>div:nth-child(1)>div:nth-child(1)>h2 {
        text-align: center;
    }

    #home>div:nth-child(1)>div:nth-child(1)>p {
        text-align: center;
        font-size: 16px;
    }

    #home>div:nth-child(1)>div:nth-child(2)>img {
        height: 220px;
        width: 220px;
    }



    #home>div:first-child>div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    #home>div:first-child>div:nth-child(2) {
        width: 90vw;
    }

    .content .text {
        font-size: 22px;
    }


    /* about me */
    #aboutMe>h2:nth-child(1) {
        margin: 50px 0px -50px;
    }

    #aboutMe>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>svg {
        display: none;
    }

    #aboutMe>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>p {
        text-align: justify;
        letter-spacing: 1px;
    }

    /* Skill */
    #skills>h2:nth-child(1) {
        text-align: center;
        margin-top: 100px;
        margin-bottom: -50px;
        letter-spacing: 1px;
    }

    .skill {
        width: 60px;
    }

    .skill p {
        font-size: 12px;
        white-space: nowrap;
    }

    .ProjectCard {
        margin-inline: auto;
        width: 90%;
        padding: 0px;
    }


    .ProjectCard>div:nth-child(2) {
        padding: 10px;
    }

    .ProjectCard>div:nth-child(3) {
        padding: 6px;
    }

    .ProjectCard>div:nth-child(2)>div:nth-child(1)>h2 {
        font-size: 16px;
    }

    /* buttons */
    .ProjectCard>div:last-child>div>a>button {
        font-size: 12px;
    }

    /* github-stats */
    #githubStats>div:nth-child(2)>img {
        width: 75%;
    }


    .github-stats {
        margin: 20px;
        flex-direction: column;
    }

    .github-stats img {
        width: 85%;
    }

    .react-activity-calendar {
        width: 85%;
    }

    /*! Special class inherited from footer section don't use anywhere else  */
    .styles_footer__ltlVl {
        font-size: 10px !important;
    }


    #contactMe>div:nth-child(2) {
        gap: 50px;
    }

    #contactMe>div:nth-child(2) {
        width: 100%;
    }

    #contactMe>div:nth-child(2)>div:nth-child(1) {
        width: 85%;
    }

    .form-section {
        width: 100%;
    }

    #footer>p:first-child {
        display: none;
    }

    #footer {
        justify-content: center;
    }
}





/*? =========== Animations =========== */
@keyframes waterWave {

    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}


@keyframes glitch-1 {
    0% {
        clip: rect(132px, auto, 101px, 30px);
    }

    5% {
        clip: rect(17px, auto, 94px, 30px);
    }

    10% {
        clip: rect(40px, auto, 66px, 30px);
    }

    15% {
        clip: rect(87px, auto, 82px, 30px);
    }

    20% {
        clip: rect(137px, auto, 61px, 30px);
    }

    25% {
        clip: rect(34px, auto, 14px, 30px);
    }

    30% {
        clip: rect(133px, auto, 74px, 30px);
    }

    35% {
        clip: rect(76px, auto, 107px, 30px);
    }

    40% {
        clip: rect(59px, auto, 130px, 30px);
    }

    45% {
        clip: rect(29px, auto, 84px, 30px);
    }

    50% {
        clip: rect(22px, auto, 67px, 30px);
    }

    55% {
        clip: rect(67px, auto, 62px, 30px);
    }

    60% {
        clip: rect(10px, auto, 105px, 30px);
    }

    65% {
        clip: rect(78px, auto, 115px, 30px);
    }

    70% {
        clip: rect(105px, auto, 13px, 30px);
    }

    75% {
        clip: rect(15px, auto, 75px, 30px);
    }

    80% {
        clip: rect(66px, auto, 39px, 30px);
    }

    85% {
        clip: rect(133px, auto, 73px, 30px);
    }

    90% {
        clip: rect(36px, auto, 128px, 30px);
    }

    95% {
        clip: rect(68px, auto, 103px, 30px);
    }

    100% {
        clip: rect(14px, auto, 100px, 30px);
    }
}

@keyframes glitch-2 {
    0% {
        clip: rect(129px, auto, 36px, 30px);
    }

    5% {
        clip: rect(36px, auto, 4px, 30px);
    }

    10% {
        clip: rect(85px, auto, 66px, 30px);
    }

    15% {
        clip: rect(91px, auto, 91px, 30px);
    }

    20% {
        clip: rect(148px, auto, 138px, 30px);
    }

    25% {
        clip: rect(38px, auto, 122px, 30px);
    }

    30% {
        clip: rect(69px, auto, 54px, 30px);
    }

    35% {
        clip: rect(98px, auto, 71px, 30px);
    }

    40% {
        clip: rect(146px, auto, 34px, 30px);
    }

    45% {
        clip: rect(134px, auto, 43px, 30px);
    }

    50% {
        clip: rect(102px, auto, 80px, 30px);
    }

    55% {
        clip: rect(119px, auto, 44px, 30px);
    }

    60% {
        clip: rect(106px, auto, 99px, 30px);
    }

    65% {
        clip: rect(141px, auto, 74px, 30px);
    }

    70% {
        clip: rect(20px, auto, 78px, 30px);
    }

    75% {
        clip: rect(133px, auto, 79px, 30px);
    }

    80% {
        clip: rect(78px, auto, 52px, 30px);
    }

    85% {
        clip: rect(35px, auto, 39px, 30px);
    }

    90% {
        clip: rect(67px, auto, 70px, 30px);
    }

    95% {
        clip: rect(71px, auto, 103px, 30px);
    }

    100% {
        clip: rect(83px, auto, 40px, 30px);
    }
}

@keyframes fa-heart {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.3)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes fa-heart-in {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }

    25% {
        transform: scale(1.5) translate(-30%, -30%);
    }

    50% {
        transform: scale(1) translate(-50%, -50%);
    }

    75% {
        transform: scale(1.5) translate(-30%, -30%);
    }

    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

@keyframes clockwiseSpin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes antiClockWiseSpin {
    100% {
        transform: rotate(-360deg);
    }
}